* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  background-color: darkslategray;
}

h1, h4, strong {
  color: #009688;
}

.app {
  width: 100%;
  max-width: 640px;
  padding: 16px;
  margin: 0 auto;
  background-color: ivory;
}

.header {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.headline {
  margin: 0;
}
.count {
  margin-left: 1rem;
}
.totalCount, .doneCount {
  margin: 0.2rem 0 0;
}

.createForm {
  width: 100%;
}

.createText {
  width: 100%;
  display: inline-block;
  margin-right: 1rem;
}


input[type="submit"]:enabled {
  background-color: #009688;
  color: white;
  font-weight: bold;
}

.allDone {
  margin: 1rem 0;
  border-bottom: 4px solid #009688;
}


.title {
  cursor: pointer;
  width: calc(100% - 112px);
  word-wrap: break-word;
}

.title:hover {
  color: #ff5722;
  transition: 0.5s;
}

.todoList {
  width: 100%;
  padding: 0;
}

.editForm {
  width: calc(100% - 112px);
  text-align: right;
}

.editText {
  width: 100%;
}