body {
  margin: 0;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  background-color: ivory;
}

h1, h4, strong {
  color: maroon;
}

.app {
  width: 100%;
  margin: 0 16px;
}

.header {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.headline {
  margin: 0;
}
.count {
  margin-left: 1rem;
}
.totalCount, .doneCount {
  margin: 0.2rem 0 0;
}

input[type="text"] {
  border: 1px solid darkgray;
  margin-right: 0.4rem;
}

input[type="submit"]:enabled {
  background-color: mediumaquamarine;
  color: white;
  font-weight: bold;
}

.allDone {
  margin: 1rem 0;
}

.title, button, input[type="submit"], input[type="checkbox"] {
  cursor: pointer;
}

.delete {
  margin-left: 0.8rem;
  background-color: tomato;
  color: white;
  width: 22px;
  height: 22px;
  /* padding: 0; */
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
}

.todoItem {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}